<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="//api.filepicker.io/v0/filepicker.js"></script>
    <link href="{{url_for('static', filename='bootstrap.css')}}" rel="stylesheet">
    <title>Filelinker | Get a link to an online file</title>
    <style>
        .container {
            margin-top: 20px;
            text-align: center;
        }

        .row {
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .btn-large.btn-jumbo {
            font-size: 20px;
            padding: 14px 24px;
            border-radius: 6px;
        }

        #results {
            display: none;
        }

        #results img {
            max-width: 30%;
            max-height: 300px;
        }
    </style>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-27979492-4']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</head>
<body>
    <div class="container">
        <div class="row">
            <h1>Got some stuff online? Get a link:</h1>
        </div>
        <div class="row">
            <button id="getLink" class="btn btn-large btn-primary btn-jumbo">Get Link</button>
        </div>
        <div class="row">
            <div id="results">
                <p><a id="url-result"></a></p>
                <p><a id="email-result">Send via email</a></p>
                <p><a id="tweet-result">Tweet</a></p>
                </table>
            </div>
        </div>
        <div class="row">
            <h2>How it works:</h2>
            <p>Do you have stuff online? Me too! But whenever I wanted to share any of it, especially with people who weren't using the service, it was a pain. So I used <a href="www.filepicker.io">Filepicker.io</a> and made this service in 5 minutes and a single static page. Let me know if you have any questions at <a href="mailto:brettcvz@gmail.com">brettcvz@gmail.com</a>.
        </div>
        <div class="row" style="text-align:left; width:80px; margin: auto">
            <p><a href="https://twitter.com/share" class="twitter-share-button">Tweet</a></p>
            <p><a name="fb_share" type="button" share_url="filelinker.herokuapp.com"></a></p>
        </div>
    </div>
    <script type="text/javascript">
        $(function(){
                filepicker.setKey('eVW6SzPPRlmrtiXQOGnX');
                $("#getLink").click(function(){
                    filepicker.getFile(filepicker.MIMETYPES.ALL, {'modal':true}, function(url, metadata) {
                        $("#url-result").attr("href", url).text(url);
                        $("#email-result").attr("href", "mailto:?subject=A file for you: "+metadata.filename+"&body=You can grab it at "+url);
                        $("#tweet-result").attr("href", "http://twitter.com/intent/tweet?url="+encodeURIComponent(url)+"&text=Look%20at%20my%20cool%20stuff:%20"+metadata.filename);

                        if (metadata.type.indexOf("image/") == 0) {
                            var img = $("<img></img>").attr("src",url).attr("alt", metadata.filename).attr("title",metadata.filename);
                            $("#results").append(img);
                        }
                        $("#results").show();
                    });
                });
        });

    </script>
    <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
    <script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" 
                type="text/javascript">
            </script>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</body>
